{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <div class="header ">
        <div class="header_left">
            <p>Logo</p>
        </div>
        <div class="header_right">
            <p>Account</p>
        </div>
   </div>
   <div class="section">
    <div class="nav ">
        <ul class="nav_list">
            <a href="{% url 'index' %}"><li><i class="fa-solid fa-house"></i><p>All</p> </li></a>
            {% for category in categories %}
                <a href="{% url 'index' category.slug %}"><li><i class="fa-solid {{category.icon}}"></i><p>{{category.title}}</p> </li></a>
            {% endfor %}

        </ul>
    </div>
    <div class="content ">
        {% block content %}
        {% endblock content %}
    </div>
   </div>

</body>
</html>